<!DOCTYPE html>
<html>

<head>
  <title>Login Page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
</head>

<body>
  <div class="row">
    <div class="col-6">
      <img src="/images/image.jpg" width="600px" height="600px" style="margin-left: 50px"></img>
    </div>
    <div class="col-4 mt-5">
      <form autocomplete="off" id="login" method="post">
        <div class="mb-3">
          <label class="form-label">Username</label>
          <input type="text" class="form-control" name="username" autocomplete="off" id="username" />
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" class="form-control" name="password" autocomplete="off" id="password" />
        </div>
        <button type="submit" class="btn btn-primary w-100">
          Login
        </button>
        <div id="emailHelp" class="form-text">
          <a href="/signup">New User? Sign Up</a>
        </div>
        <div id="emailHelp" class="form-text">
          <a href="/forgetpassword">Forget Password</a>
        </div>
      </form>
    </div>
  </div>
  <script type="text/javascript" src="/js/func.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
</body>

</html>